<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-timer-beep"
    version="1.0.0">
    <name>Cordova Plugin Template</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="timerBeep" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="TimerBeep">
          <param name="android-package" value="com.strongrfastr.TimerBeep" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/strongrfastr/TimerBeep.java" target-dir="src/com/strongrfastr/" />
      <resource-file src="res/singleBeep.mp3" target="res/raw/beep.mp3"/>
      <resource-file src="res/timerFinished.mp3" target="res/raw/finished.mp3"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="timerBeep" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="TimerBeep">
                <param name="ios-package" value="TimerBeep" onload="true" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
            		<string>audio</string>
            </array>
        </config-file>

        <header-file src="src/ios/AppDelegate+TimerBeep.h" />
        <source-file src="src/ios/AppDelegate+TimerBeep.m" />
        <header-file src="src/ios/TimerBeep.h" />
        <source-file src="src/ios/TimerBeep.m" />
        <framework src="AVFoundation.framework" />
        <resource-file src="src/ios/CDVTimerBeep.bundle"/>
    </platform>
</plugin>
